.orderData{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 50%);
    position: relative;
    padding-top: 0px;
}

.orderData .tracking{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.tracking .data{
    width: 150px;
    display: grid;
    align-items: center;
    color: #333;
    padding: 0 30px;
    border-right: 2px solid #e7e7e7;
    justify-items: center;
}

.data:last-child{
    border-right: none;
}

.orderData .tracking .data .status-count{
    font-size: 30px;
    font-weight: bold;
}

.orderData .tracking .data .titleName{
    font-size: 12px;
    font-weight: normal;
}

#orderFrame{
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #fff;
}
#productInfo{
    border: solid 1px #e0e0eb;
    border-collapse: collapse;
    background-color: #f5faf3;
    width: 100%;
    font-size: 12px;
}
#productInfo th {
    border: solid 1px #e0e0eb;
    text-align: center;
    padding: 15px 0;
}
#orDetailPage:hover{
	background-color: #4eac27;
}
#productInfo td {
    border: solid 1px #e0e0eb;
    text-align: center;
    padding: 15px 0;
    background-color: white;
}