@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* 메인 */
* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.Body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5faf3;
}
.container.mypage {
    width: auto;
    min-width: 1560px;
    padding: 0px;
    line-height: 1.5;
}
.container.mypage.content {
    width: auto;
    min-width: 1560px;
    max-width: 1880px;
    padding: 0px 40px;
    margin: 0px auto;
    box-sizing: border-box;
}

#setButton .btn{
    position: relative;
    border: none;
    color: #f5faf3;
    bottom: 5px;
    font-size: 20px;
    margin-left:160px;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    width: 30%;
    height: 50%;
    background: #f5faf3;
    border-radius: 24px;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.profile-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4eac27;
}
.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4eac27;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #f5faf3;
}
/* .profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
} */
.text-data .name{
    font-size: 18px;
    font-weight: 500;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
/* .profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;

} */
/* .buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
} */
.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.analytics .data{
    display: grid;
    align-items: center;
    color: #333;
    padding: 0 10px;
    border-right: 2px solid #e7e7e7;
    justify-items: center;
}

.data .fa-solid{
    font-size: 25px;
}
.data .iconName{
    font-size: 14px;
    margin-top: 10px;
    justify-items: center;
}
.data:last-child{
    border-right: none;
}
#dataTextDiv{
	text-align: center;
}