@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	text-align: center;
}

a {
	color: #333;
	text-decoration: none;
}


.btn-bd-primary { 
	--bs-btn-font-weight: 300;
}

.btn-qusetion {
	font-size: 16px;
	padding: 12px 40px;
}

.container-sm {
	max-width: 1000px;
}

.guide-top {
margin-top:20px
}
.guide-bottom {
margin-bottom: 20px;}

#submitButton1{
	margin-right: 5px;
}
