<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.demo.mapper.book.BookMapper">
	<select id="selectRanBook" resultType="com.demo.domain.book.BookDto">
		SELECT b_img, b_code
		FROM Book
		ORDER BY RAND() LIMIT 1,10
	</select>
	
	<select id="selectNewBook" resultType="com.demo.domain.book.BookDto">
		SELECT b_img, b_code
		FROM Book
		ORDER BY b_pubDate DESC 
	</select>
	
	<select id="list" resultType="com.demo.domain.book.BookDto">
		SELECT *
		FROM Book
	</select>
	
	<select id="selectByCode" resultType="com.demo.domain.book.BookDto">
		SELECT * FROM Book where b_code = #{b_code}
	</select>
	
	<select id="selectByGenre" resultType="com.demo.domain.book.BookDto">
		SELECT * FROM Book where b_genre = #{b_genre}
	</select>
	
	<select id="selectByDate" resultType="com.demo.domain.book.BookDto">
		SELECT * FROM Book ORDER BY b_pubDate DESC
	</select>
	
	<insert id="insertLike">
		INSERT INTO BookLike Values(#{b_code},#{u_id})
	</insert>
	
	<delete id="deleteLike">
		DELETE FROM BookLike where b_code = #{b_code} and u_id=#{u_id}
	</delete>
	
	<select id="selectLikeCount" resultType="int">
		SELECT COUNT(*) FROM BookLike 
		WHERE b_code = #{b_code} and u_id=#{u_id} 
	</select>
	
	<update id="updateBookLike">
		UPDATE Book SET b_like = (select count(b_like) 
		FROM BookLike 
		WHERE b_code = #{b_code}) 
		WHERE b_code = #{b_code} 
	</update> 
	
	<select id="selectBookLike" resultType="int">
		SELECT COUNT(*) FROM BookLike 
		WHERE b_code=#{b_code}
	</select>
	
	<select id="autoComplete" parameterType="map" resultType="map">
		SELECT b_code,b_title
		FROM Book
		WHERE b_title LIKE '${b_title}'
	</select>
	
	<insert id="insertBook">
		INSERT INTO Book(b_title, b_writer, b_pubDate, b_price, b_genre, b_img)
		VALUES (#{b_title},#{b_writer},#{b_pubDate},#{b_price},#{b_genre},#{b_img})
	</insert>
	
	<select id="selectBookList" resultType="com.demo.domain.book.BookDto">
		SELECT 
		b_code,b_title,b_writer,b_pubDate,b_price,b_genre,b_img 
		FROM Book
	</select>
	
	<update id="updateBook">
	UPDATE Book
	SET
		b_title = #{b_title},
		b_writer = #{b_writer},
		b_pubDate = #{b_pubDate},
		b_price = #{b_price},
		b_genre =#{b_genre},
		b_img = #{b_img}
	WHERE
		b_code = #{b_code}
	</update>
	
	<delete id="deleteBook">
		DELETE FROM Book
		WHERE b_code = #{b_code}
	</delete>
	
	<select id="countBook" resultType="int">
		SELECT COUNT(*)
		FROM Book;
	</select>

	<select id="selectAllBook" resultType="com.demo.domain.book.BookDto">
		SELECT * FROM Book
	</select>
	
	<select id="selectBookByGenre" resultType="com.demo.domain.book.BookDto">
		SELECT * FROM Book where b_genre =#{b_genre}
	</select>

</mapper>