<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.demo.mapper.user.yjh.UserMapper">
  
  	<select id="selectByEmail" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT u_id, u_pw, u_name, u_phone, u_email, u_address
		FROM User
		WHERE u_email = #{u_email}; 
  	
  	</select>
  	
  	<select id="selectById" resultType="com.demo.domain.user.yjh.UserDto">
		SELECT *FROM User where u_id =#{u_id}
	</select>
  	
  	<update id="updateUser">
  		UPDATE User
  		SET
  			u_pw = #{u_pw},
  			u_email = #{u_email},
  			u_phone = #{u_phone},
  			u_address = #{u_address}
  		WHERE u_id = #{u_id};	
  	</update>
  	
  	<select id="selectUserInfo" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT u_id, u_pw, u_name, u_phone, u_email, u_address
  		FROM User
  		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="countLikeByUserId" resultType="int">
  	 	SELECT COUNT(*) FROM BookLike
		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="countCartByUserId" resultType="int">
  	 	SELECT SUM(c_count) FROM Cart
		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="selectUserPageInfo" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT 
  				u_id,
				(SELECT COUNT(b_code) FROM BookLike) countLike,
       			(SELECT SUM(c_count) FROM Cart) countCart
		FROM 	
				User 
  		WHERE 	
  				u_id = #{u_id};
  	</select>
  	
  	<select id="selectOrderByUser" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT o_number,
  			   o_date,
  			   o_status,
  			   o_count
  		FROM Orders	   	
  		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="selectDetailOrdersByUser" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT o.o_number o_number,
	   		   o.o_count o_count,
       		   o.o_date o_date,
       		   o.o_status o_status,
       		   b.b_title b_title
		FROM Orders o LEFT JOIN Book b ON o.b_code = b.b_code
		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="selectBookLikeListByUser" resultType="com.demo.domain.user.yjh.UserDto">
  	SELECT
	   	   b.b_title b_title,
	       b.b_price b_price,
	       b.b_img b_img,
	       b.b_genre b_genre,
	       b.b_like b_like
    FROM BookLike L LEFT JOIN Book b ON L.b_code = b.b_code
    WHERE L.u_id = #{u_id};    
  	</select>
  	
  	<select id="selectReviewListByUser" resultType="com.demo.domain.user.yjh.UserDto">
		SELECT 
			  r.r_content r_content,
			  r.r_star r_star,
			  r.r_id r_id,
		      b.b_title b_title
		FROM Review r LEFT JOIN Book b ON r.b_code = b.b_code
		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="selectMakeReviewListByUser" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT 
  				O.b_code , b.b_title
		FROM 
				OrderDetail O 
				LEFT OUTER JOIN Review r ON r.b_code = O.b_code
				LEFT JOIN Book b ON O.b_code = b.b_code
		WHERE 
				O.u_id = #{u_id} AND r.u_id IS NULL;
  	</select>
  	
  	<select id="selectQuestListByUser" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT q_title,
	   		   q_content,
       		   q_date
		FROM Quest
		WHERE u_id = #{u_id};
  	</select>
  	
  	<resultMap type="com.demo.domain.user.yjh.UserDto" id="orderMap">
  		<id column="u_id" property="id"/>
  		<result column="o_number" property="o_number"/>
  		<result column="o_count" property="orderCount"/>
  		<result column="o_date" property="orderDate"/>
  		<result column="o_status" property="orderStatus"/>
  		<result column="b_title" property="bookTitle"/>
  	</resultMap>
  	
  	<resultMap type="com.demo.domain.user.yjh.UserDto" id="userMap">
  		<id column="u_id" property="id"/>
  		<result column="u_pw" property="pw"/>
  		<result column="u_name" property="name"/>
  		<result column="u_phone" property="phone"/>
  		<result column="u_email" property="email"/>
  		<result column="u_address" property="address"/>
  	</resultMap>
  </mapper>