<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.demo.mapper.user.yjh.UserMapper">
  
  	<select id="selectByEmail" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT u_id, u_pw, u_name, u_phone, u_email, u_address
		FROM User
		WHERE u_email = #{u_email}; 
  	
  	</select>
  	
  	<select id="selectById" resultType="com.demo.domain.user.yjh.UserDto">
		SELECT *FROM User where u_id =#{u_id}
	</select>
  	
  	<update id="updateUser">
  		UPDATE User
  		SET
  			u_pw = #{u_pw},
  			u_email = #{u_email},
  			u_phone = #{u_phone},
  			u_address = #{u_address}
  		WHERE u_id = #{u_id};	
  	</update>
  	
  	<select id="selectUserInfo" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT u_id, u_pw, u_name, u_phone, u_email, u_address
  		FROM User
  		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="countLikeByUserId" resultType="int">
  	 	SELECT COUNT(*) FROM BookLike
		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="countCartByUserId" resultType="int">
  	 	SELECT SUM(c_count) FROM Cart
		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="selectUserPageInfo" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT 
  				u_id,
				(SELECT COUNT(b_code) FROM BookLike WHERE u_id = #{u_id}) countLike ,
       			(SELECT SUM(c_count) FROM Cart WHERE u_id = #{u_id}) countCart,
       			(select count(*) o_status FROM Orders WHERE o_status = '상품준비중' AND u_id = #{u_id}) o_status_ready,
       			(select count(*) o_status FROM Orders WHERE o_status = '배송시작' AND u_id = #{u_id}) o_status_start,
       			(select count(*) o_status FROM Orders WHERE o_status = '배송중' AND u_id = #{u_id}) o_status_ing,
       			(select count(*) o_status FROM Orders WHERE o_status = '배송완료' AND u_id = #{u_id}) o_status_complete
		FROM 	
				User 
  		WHERE 	
  				u_id = #{u_id};
  	</select>
  	
  	<select id="selectOrderByUser" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT o.o_number o_number,
		o.o_date o_date,
		o.o_status o_status,
		o.o_total o_total,
		o.o_count o_count,
		b.b_title b_title
		FROM Orders o JOIN OrderDetail od ON o.o_number = od.o_number
					  JOIN Book b ON od.b_code = b.b_code		   	
		WHERE o.u_id = #{u_id}
		GROUP BY o.o_number;
  	</select>
  	
  	<select id="selectDetailOrdersByUser" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT o.o_number o_number,
	   		   o.o_count o_count,
       		   o.o_date o_date,
       		   o.o_status o_status,
       		   b.b_title b_title
		FROM Orders o LEFT JOIN Book b ON o.b_code = b.b_code
		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="selectBookLikeListByUser" resultType="com.demo.domain.user.yjh.UserDto">
  	SELECT
	   	   b.b_title b_title,
	       b.b_price b_price,
	       b.b_img b_img,
	       b.b_genre b_genre,
	       b.b_like b_like,
	       b.b_code b_code
    FROM BookLike L LEFT JOIN Book b ON L.b_code = b.b_code
    WHERE L.u_id = #{u_id};    
  	</select>
  	
  	<select id="selectReviewListByUser" resultType="com.demo.domain.user.yjh.UserDto">
		SELECT 
			  r.r_content r_content,
			  r.r_star r_star,
			  r.r_id r_id,
		      b.b_title b_title,
		      b.b_genre b_genre,
		      b.b_code b_code,
		      b.b_img b_img
		FROM Review r LEFT JOIN Book b ON r.b_code = b.b_code
		WHERE u_id = #{u_id};
  	</select>
  	
  	<select id="selectMakeReviewListByUser" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT 
  				od.b_code , b.b_title, b.b_genre, b.b_img
		FROM 
				OrderDetail od
				JOIN Book b ON od.b_code = b.b_code                
		WHERE 
				NOT EXISTS (SELECT r.b_code, r.u_id FROM Review r WHERE od.u_id = r.u_id AND od.b_Code = r.b_code)
                AND od.u_id = #{u_id}
        GROUP BY od.b_code;		
  	</select>
  	
  	<select id="selectQuestListByUser" resultType="com.demo.domain.user.yjh.UserDto">
  		SELECT q.q_title q_title,
	   		   q.q_content q_content,
       		   q.q_date q_date,
       		   q.q_option q_option,
       		   q.q_number q_number,
       		   a.a_content a_content
		FROM Quest q LEFT JOIN Answer a ON q.q_number = a.q_number 
		WHERE q.u_id = #{u_id};
  	</select>
  	
  	<!-- <select id="selectAnswer" resultMap="questionMap">
  		SELECT 	q.q_number, q.q_title, q.q_content, q.q_date, q.q_option,
				a.a_date, a.a_content,
		        f.f_name fileName
		FROM Quest q LEFT JOIN Answer a ON q.q_number = a.q_number
					 LEFT JOIN File f ON q.q_number = f.q_number
		WHERE q.q_number = #{q_number};
  	</select> -->
  	
  	<!-- 1:1 문의 콘텐츠 보여줌 -->
<select id="selectAnswer" resultMap="questionMap">
	SELECT
		q.q_number,
		q.q_title,
		q.q_content,
		q.q_date,
		q.u_id,
		f.f_id fileId,
		f.f_name fileName,
        a.a_content,
        a.a_date
	FROM
		Quest q LEFT JOIN File f ON q.q_number = f.q_number
				LEFT JOIN Answer a ON q.q_number = a.q_number
	WHERE
		q.q_number = #{q_number}
</select>

<resultMap type="com.demo.domain.customer.QuestionDto" id="questionMap">
		<id column="q_number" property="q_number"></id>
		<result column="q_title" property="q_title"/>
		<result column="q_content" property="q_content"/>
		<result column="q_date" property="q_date"/>
		<result column="u_id" property="u_id"/>
		<result column="a_content" property="a_content"/>
		<result column="a_date" property="a_date"/>
		<collection property="fileName" ofType="string">
			<result property="fileName" column="fileName"/>
		</collection>
</resultMap>
  	
  	<resultMap type="com.demo.domain.user.yjh.UserDto" id="orderMap">
  		<id column="u_id" property="id"/>
  		<result column="o_number" property="o_number"/>
  		<result column="o_count" property="orderCount"/>
  		<result column="o_date" property="orderDate"/>
  		<result column="o_status" property="orderStatus"/>
  		<result column="b_title" property="bookTitle"/>
  	</resultMap>
  	
  	<resultMap type="com.demo.domain.user.yjh.UserDto" id="userMap">
  		<id column="u_id" property="id"/>
  		<result column="u_pw" property="pw"/>
  		<result column="u_name" property="name"/>
  		<result column="u_phone" property="phone"/>
  		<result column="u_email" property="email"/>
  		<result column="u_address" property="address"/>
  	</resultMap>
  	
<!--   	<resultMap type="com.demo.domain.user.yjh.UserDto" id="questionMap">
		<id column="q_number" property="q_number"></id>
		<result column="q_title" property="q_title"/>
		<result column="q_option" property="q_option"/>
		<result column="a_date" property="a_date"/>
		<result column="a_content" property="a_content"/>
		<result column="f_id" property="f_id"/>
		<result column="q_content" property="q_content"/>
		<result column="q_date" property="q_date"/>
		<result column="u_id" property="u_id"/>
		<collection property="fileName" ofType="string">
			<result property="fileName" column="fileName"/>
		</collection>
</resultMap> -->
  </mapper>