<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.customer.QuestionMapper">

<!-- 1:1 문의 추가 -->
<insert id="insert" useGeneratedKeys="true" keyProperty="q_number">
	INSERT INTO Quest (q_title, q_content, u_id, q_option)
	VALUES (#{q_title}, #{q_content}, #{u_id}, #{q_option})
</insert>

<!-- 파일 정보 저장 추가 -->
<insert id="insertFile">
	 INSERT INTO File (f_name, q_number)
	 VALUES (#{fileName}, #{q_number})
</insert>


<!-- 1:1문의 리스트 보여주기 -->
<select id="getList" resultType="com.demo.domain.customer.QuestionDto">
	SELECT 
		q_number,
		q_title,
		q_content,
		q_date,
		u_id
	FROM 
		Quest
	ORDER BY q_number DESC
	LIMIT #{offset}, #{records}
</select>


<select id="allCount" resultType="int">
	SELECT COUNT(*) FROM Quest
</select>


<!-- 1:1 문의 콘텐츠 보여줌 -->
<select id="select" resultMap="questionMap">
	SELECT
		q.q_number,
		q.q_title,
		q.q_content,
		q.q_date,
		q.u_id,
		f.f_id fileId,
		f.f_name fileName
	FROM
		Quest q LEFT JOIN File f ON q.q_number = f.q_number
	WHERE
		q.q_number = #{q_number}
</select>

<resultMap type="com.demo.domain.customer.QuestionDto" id="questionMap">
		<id column="q_number" property="q_number"></id>
		<result column="q_title" property="q_title"/>
		<result column="q_content" property="q_content"/>
		<result column="q_date" property="q_date"/>
		<result column="u_id" property="u_id"/>
		
		<collection property="fileName" ofType="string">
			<result property="fileName" column="fileName"/>
		</collection>
</resultMap>



<!-- 1:1문의 답변 추가하기 -->
<insert id="add">
	INSERT INTO Answer (q_number, ad_id, u_id, a_content )
	VALUES (#{q_number}, #{ad_id}, #{u_id}, #{a_content} )
</insert>

<!-- 1:1문의 답변 보여주기 -->
<select id="answerSelect" resultType="com.demo.domain.customer.QuestionDto">
	SELECT 
		a_id,
		a_content,
		a_date,
		q_number,
		u_id
	FROM
		Answer
	WHERE
		q_number = #{q_number}
	ORDER BY
        q_number DESC
</select>


<delete id="removeAnswer">
	DELETE FROM Answer
	WHERE a_id = #{a_id}
</delete>

<!-- 1:1 문의 답변 가져오기 -->
<select id="selectById" resultType="com.demo.domain.customer.QuestionDto">
 	SELECT
 		a_id,
 		q_number,
 		a_date,
 		a_content,
 		ad_id
 	FROM 
 		Answer
 	WHERE
 		a_id = #{a_id}
</select>


<!-- 1:1 문의 답변 수정하기 -->
<update id="update">
	UPDATE Answer
	SET a_content = #{a_content}
	WHERE 
		a_id = #{a_id}
</update>
</mapper>
















